## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
*.rsuser
*.sln.docstats
_ReSharper*/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
[Dd]ebugPublic/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Mac
.DS_Store
